<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content text-center">
      <h2>Bienvenue sur ton Profil !</h2>
        <div class="page_link">
        <p> Tu pourras ici, retrouver ton panier et modifier tes informations personnelles, géniale ! </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="feature_product_area latest_product_area">
    	<div class="main_box">
			<div class="container">

					<h1>Your Personal Informations</h1>
					<hr>
					<h4> Adresse mail: <%= @user.email %> <h4>
					<h4> Nom : nom <h4>
					<h4> Prénom : nom <h4>
					<br>
					<br>
					<h1> Your Cart </h1>
					<hr>
							
			</div>
		</div>
	</div>
</section>